body{
    background: #f6f6f6;
}

/* links*/
a{
    color: #3c8453;
}
a:hover{
    color: #bcaa96
    text-decoration: none;
}

footer a{
    color: #bcaa96;
}
footer a:hover{
    color: #3c8453;
}
.btn{
    background: #3c8453;
    color: #f6f6f6;
    text-decoration:none ;
}
/* Home
==========================================================*/
.home{
    background: url(../images/bg-home-office-city.jpg) no-repeat;
    background-size: cover;
}
.home .content-wrapper{
    background: rgb( 224 224 224 / 0.9);
}
/* Resume
==========================================================*/

/* Profile
==========================================================*/

/* Projects
==========================================================*/

/* Work Experience
==========================================================*/

/* Education
==========================================================*/

/* Footer
==========================================================*/
footer{
    background: #d3d4d6;
}


