
html {
     box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    height: 100%
}
body{
    background: #f6f6f6;
    margin:0;
}

/* links*/
a{
    color: #3c8453;
}
a:hover{
    color: #bcaa96
    text-decoration: none;
}

footer a{
    color: #bcaa96;
}
footer a:hover{
    color: #3c8453;
}
.btn{
    background: #3c8453;
    color: #f6f6f6;
    text-decoration:none ;
}

.content-wrapper {
    margin: 0 auto;
    padding:30px;
    max-width: 900px;
}
/* Home
==========================================================*/
.home{
    background: url(../images/bg-home-office-city.jpg) no-repeat;
    background-size: cover;
}
.home .content-wrapper{
    background: rgb( 224 224 224 / 0.9);
}
/* Resume
==========================================================*/

.Resume header::before {
    background: url(../images/bg-home-office-city.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height:375px ;
}

.resume-section{
    margin-bottom: 50px;
}

.resume-section h2{
    border-bottom:2px dashed #d3d4d6 ;
}

.download-link{
    position: fixed;
    top:5px;
    left: 5px;
    
}
/* Profile
==========================================================*/
.project-item{
    display: flow-root;
    margin: 30px 0;
}

.project-item img{
    width: 300px;
    float: left;
    margin-right:20px;
}
/* Projects
==========================================================*/

/* Work Experience
==========================================================*/

/* Education
==========================================================*/

/* Footer
==========================================================*/
footer{
    background: brown;
}

.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
}
.socials img {
    width: 32px;
}