/*
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

/* GLOBAL STYLES 
------------------------------------*/
body {
    background: #f6f6f6; 
}


/* HOME
------------------------------------*/
.home {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
}
.home .content-wrapper {
    background: rgb(255 255 255 / 0.9);
}


/* RESUME
------------------------------------*/

/* Profile
------------------------------------*/

/* Projects
------------------------------------*/

/* Work Experience
------------------------------------*/

/* Education
------------------------------------*/


/* FOOTER
------------------------------------*/
footer {
    background: #222;
    color: #d3d4d6;
}