.header{
     font-family: "Caveat", cursive;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border: 0;
    border-style: solid;
    border-color: black;
}

.split{
    height: 100%;
    width: 50%;
    position:fixed;
    z-index: 1;
    top: 120px;;
    overflow-x: hidden;
    padding-top: 50px;
}

.left{
  left:0;
  background-color: peachpuff;
  font-family: "Caveat", cursive;  
}

.right{
    right: 0;
    background-color: rgb(49, 44, 44);
    color: white;
    font-family: "Rubik Glitch", system-ui;
}

.right hover{
    color: white;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered img{
    width: 150px;
    border-radius: 50%;
}

 a{
    color: peru;
}

.para {
    text-align: center;
    background-color: black;
    color: white;
     font-family: "Rubik Glitch", system-ui;
}


.body-1 {
    background-color: black;
}
.definition{
    color: white;
    text-align: center;
    font-family: "Road Rage", sans-serif;
    font-size: 3rem;
     animation: shake 1s infinite;
}

.download {
    position: fixed;
    top:5px;
    left: 5px;
    font-size: 1rem;
}

.btn {
    background: darkred;
    color: #f6f6f6;
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}
.image-div{
    display:inline-block ;
}

.hidden{
    display: none;
    /* display: hidden; */
    
}
#dark-girl {
    position: absolute;
    top: 1000px;
    left: 10vw;
    border-radius: 9px;
   
}
#in-dark {
    position: absolute;
    top: 1200px;
    left: 50vw;
     border: 10px;
}
#obessive {
    position: absolute;
    top: 2000px;
    left: 25vw;
     border: 10px;
}
#parasocial {
    position: absolute;
    top: 1950px;
    left: 0vw;
     border: 10px;
}
img.resize{
 max-width:50%;
  max-height:50%;
}

.main-para {
    color: white;
    text-align: center;
     animation: shake 1s infinite;
}
.content-wrapper {
    margin: 0 auto;
    padding:30px;
    max-width: 900px;
}

@keyframes shake {
  0% {transform: translateX(0);}
  10%, 90% {transform: translateX(-5px);}
  20%, 80% {transform: translateX(5px);}
  30%, 50%, 70% {transform: translateX(-5px);}
  40%, 60% {transform: translateX(5px);}
  100% {transform: translateX(0);}
}

.h1{
    animation: tiltWave 3s ease-in-out infinite;
}

.h2 {
    background-color: plum;
    text-align: center;
    padding: 10px;
    font-family: "Caveat", cursive;
    font-size: 2rem;
}

.body-2{
    background-color: plum;
    border-style: dashed;
    border-color: white;
}

@keyframes tiltWave {
          0%, 100% { transform: rotateX(0deg) rotateY(0deg); } 25% { transform: rotateX(10deg); } 50% { transform: rotateY(10deg); } 75% { transform: rotateX(-10deg); }
        }
        


 #albums {
    position: absolute;
    top: 1000px;
    left: 10vw;
    border-radius: 9px;
   
}
#concert {
    position: absolute;
    top: 1200px;
    left: 50vw;
     border: 10px;
}
#music {
    position: absolute;
    top: 2000px;
    left: 25vw;
     border: 10px;
}
#friend-group {
    position: absolute;
    top: 1950px;
    left: 0vw;
     border: 10px;
}