.body {
    background-image: url(images/90s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.iframe-container {
    width: 100%;
    text-align: center;
    position: relative;
}
.iframe-container iframe {
    margin: 0 auto;
    display: block;
    position: relative;
}

.tv1{
    margin-top: -400px;
    position: relative;
}
.para{
    color:black;
    text-align: center;
    text-decoration: solid;
    font-size: larger;
    font-family: "Nabla", system-ui;
}

.text-box {
  border: 2px solid ;
  padding: 16px;
  background-color: #b46c6c;
  width: fit-content;
  border-radius: 8px;
 display: inline-block;
 position: relative;
}

.cell {
    border-radius: 10px;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
}

.cell:hover{
    animation-play-state: running;
}

@keyframes spin {
    100% {transform: rotate(1turn) ;}
}

.mp3{
   width: 300px ;
    animation: skew 1s infinite alternate;
    animation-play-state: paused;
}
.mp3:hover{
     animation-play-state: running;
}

@keyframes skew{
    0% {transform:skew(0deg,0deg);}
    100% {transform:skew(30deg,20deg);}
}